*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
html {
    scroll-behavior: smooth;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #050718;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fd3e45;
}
/* == || SCROLL BAR == */
body{
    background-color: #050718 !important;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto !important;
}

/* == Navigation == */
nav{
    height: fit-content;
    width: 100% !important;
}
.nav-container{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    font-size: 16px;
    font-weight: 400;
    color: #A6A9B8;
    padding: 4px 8px;
    margin: 0px 4px;
}
.nav-access button{
    height: 48px;
    width: 140px;
    margin: 0px 2px;
    border-radius: 8px;
}
.nav-access button:nth-child(1){
    background-color: #050718;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.nav-access button:nth-child(2){
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fd3e45+0,ac00fd+100 */
    background: #fd3e45; /* Old browsers */
    background: -moz-linear-gradient(left,  #fd3e45 0%, #ac00fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fd3e45 0%,#ac00fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fd3e45 0%,#ac00fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3e45', endColorstr='#ac00fd',GradientType=1 ); /* IE6-9 */
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
/* == || Navigation == */
main{
    height: fit-content;
    width: 100%;
}
/* == Banner == */
.banner{
    height: fit-content;
    width: 100%;
}
.banner-container{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner-image{
    max-width: 585px;
    min-width: 280px;
    width: 100%;
    padding: 10px;
}
.banner-text{
    max-width: 585px;
    min-width: 280px;
    width: 100%;
}
.banner-text p:nth-child(1){
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    max-width: 480px;
    line-height: 64px;
}
.banner-text p:nth-child(1) span{
    height: fit-content;
    width: fit-content;
    padding: 0px 8px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#fd3e45, #ac00fd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: #A6A9B8;
    margin: 10px 0px;
    width: 100%;
    max-width: 580px;
}
.banner-text button{
    height: 52px;
    width: 210px;
    margin: 16px 0px 10px;
    border-radius: 8px;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fd3e45+0,ac00fd+100 */
     background: #fd3e45; /* Old browsers */
     background: -moz-linear-gradient(left,  #fd3e45 0%, #ac00fd 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(left,  #fd3e45 0%,#ac00fd 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to right,  #fd3e45 0%,#ac00fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3e45', endColorstr='#ac00fd',GradientType=1 ); /* IE6-9 */
     color: #ffffff;
     font-size: 16px;
     font-weight: 500;
}
.banner-text button i{
    font-size: 18px;
}
.banner-text p:nth-child(4){
    font-size: 16px;
    font-weight: 400;
    color: #A6A9B8;
    margin: 10px 0px;
}
/* == || Banner == */
/* == Steps == */
.steps{
    padding: 40px 0px;
    width: 100%;
    height: fit-content;
}
.steps-container{
    height: fit-content;
}
.steps-headline{
    padding: 20px 0px;
}
.steps-headline p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;text-align: center;
    width: 100%;
    max-width: 500px;
    min-width: 280px;
    margin: 0px auto 10px;
}
.steps-headline p:nth-child(1) span{
    height: fit-content;
    width: fit-content;
    padding: 0px 8px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#fd3e45, #ac00fd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.steps-headline p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: #A6A9B8;
    text-align: center;
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    margin: 10px auto 0px;
    line-height: 24px;
}
.steps-content{
    width: 100% !important;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.step-card{
    width: 30% !important;
    min-width: 290px;
    max-width: 350px;
    height: 196px;
    border-radius: 10px;
    background-color: #171820;
    margin: 10px 0px;
    padding: 16px;
}
.step-card .top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.step-card .top span{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 10px;
}
.step-card .top img{
    width: 50px;
}
.step-card .bottom{
    padding-left: 60px;
}
.step-card .bottom p{
    font-size: 14px;
    font-weight: 400;
    color: #9FA2B1;
    line-height: 28px;
}
/* == || Steps == */